<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Blog App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.3/semantic.min.css">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>

<div class="ui fixed inverted menu">
  <div class="ui container">
    <a href="/" class="header item"><i class="code icon"></i> Animals</a>

    <div class="right menu">
      <a href="/blogs/new" class="header item"><i class="plus icon"></i> Create</a>
    </div>
  </div>
</div>

<div class="ui container">
